gate-aq/gate-aq-consumer/src/main/resources/xsd/SecondRequestIntegrationModel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bssys.com/sbns/integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SecondRequestIntegrationModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:dateTime" name="AcceptDate"/>
          <xs:complexType>
            <xs:sequence>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="caKeyIdentifier"/>
                    <xs:element type="xs:string" name="commonName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="principal">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PrincipalComponent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="commonName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>